{% extends "page_base.html" %}
{% load tags_drummersaransk %}

{% block title %} - Главная страница{% endblock %}

{% block content %}
	<section class="section index_page">
		<h2 class="h2 my_header">Добро пожаловать</h2>
		
		<div class="welcome_text">
			<p>Рад вас приветствовать на сайте, объединяющем барабанщиков Саранска. Для желающих зарегистрироваться, не имеющих отношения к барабанной деятельности, предусмотрен статус "сочувствующий". Поэтому если вы не барабанщик, но музыкант или хотя бы просто незлобный человек, то смело жмите на ссылку "регистрация" в верхнем правом углу.</p>

			<p>Предложения по улучшению дизайна и функционала сайта принимаются на <a class="a" href="mailto:prozaik81-2@yandex.ru">email</a></p>
		</div>
	</section>
{% endblock %}