{% if is_authenticated %}
	<div class="nav_edit_outer">
		{% if flag_homepage %}
			<section class="section links">
				<h2 class="h2">
					<div class="my_subheader">
						<div class="my_subheader_inner">Перейти</div>
					</div>
				</h2>
				
				<ul>
					<li>
						<a class="link" href="/{{ user_pk }}">На мою страницу</a>
					</li>
				</ul>
			</section>
		{% endif %}
		
		<section class="section edit_menu">
			<h2 class="h2">
				<div class="my_subheader">
					<div class="my_subheader_inner">Редактировать</div>
				</div>
			</h2>			

			<ul class="nav_edit">
				<li>
					<a href="/userprofile/personal_data_page/">Личные данные</a>
				</li>
				
				<li>
					<a href="/userprofile/drum_data_page/">Барабанные данные</a>
				</li>
				
				<li>
					<a href="/userprofile/avatar_page/">Аватар</a>
				</li>
				
				<li>
					<a href="/userprofile/password_page/">Пароль</a>
				</li>

				<!--<li>
					<a href="#">Галерея</a>
				</li>-->

				<li>
					<a href="/userprofile/path_glory_edit/">Тропа славы</a>
				</li>
				
				<li>
					<a href="/userprofile/friends_list_edit/">Список друзей</a>
				</li>			
			</ul>
		</section>
		
		<section class="section search_menu">
			<h2 class="h2">
				<div class="my_subheader">
					<div class="my_subheader_inner">Поиск</div>
				</div>
			</h2>
			
			<ul>
				<li>
					<a class="link" href="/userprofile/friends_search/">Поиск друзей</a>
				</li>
			</ul>
		</section>		
		
		<section class="section messages_menu">
			<h2 class="h2">
				<div class="my_subheader">
					<div class="my_subheader_inner">Сообщения</div>
				</div>
			</h2>
			
			<ul>
				<li>
					<a class="link" href="/userprofile/messages_sended/">Отправленные</a>
				</li>
				
				<li>
					<a class="link" href="/userprofile/messages_recieve/">Полученные {% if new_sends %}<span class="new_sends_count">(Новых {{ new_sends }})</span>{% endif %}</a>
				</li>

				<!--<li>
					<a class="link" href="/message_create/">Написать</a>
				</li>	-->			
			</ul>
		</section>			
	</div>
{% endif %}